<eui-page>
    <eui-page-header label="Contacts"></eui-page-header>

    <eui-page-content>
        <eui-card euiNoContentPadding>
            <eui-card-header>
                <eui-card-header-title>
                    <eui-badge euiSizeM euiPrimary>{{ filteredData.length }}</eui-badge>
                    contacts found
                </eui-card-header-title>
                <eui-card-header-right-content>
                    <div class="eui-u-mr-s">
                        <eui-slide-toggle (changed)="isCompact = !isCompact"></eui-slide-toggle>
                        Compact
                    </div>

                    <div [formGroup]="form" class="eui-u-mr-s">
                        <ux-dropdown-tree formControlName="colsFilter" placeholder="Select..." [nodes]="colsValues"
                            hasSelectAll></ux-dropdown-tree>
                    </div>

                    <eui-table-filter #filter placeholder="Search filter..." (filterChange)="onFilterChange($event)">
                    </eui-table-filter>
                </eui-card-header-right-content>
            </eui-card-header>
            <eui-card-content>
                <!-- The optional scrollable wrapper around the table allows dynamic scroll when the table is too big -->
                <div class="eui-table__scrollable-wrapper">
                    <table #euiTable euiTable [euiTableCompact]="isCompact" euiTableResponsive [rows]="dataSource"
                        [paginator]="paginator" [filter]="filter">
                        <ng-template euiTemplate="header">
                            <tr>
                                <th *ngIf="visibleCols.length > 0"></th>
                                <th *ngIf="visibleCols.indexOf('title') !== -1">Title</th>
                                <th *ngIf="visibleCols.indexOf('first') !== -1">First name</th>
                                <th *ngIf="visibleCols.indexOf('last') !== -1">Last name</th>
                                <th *ngIf="visibleCols.indexOf('nat') !== -1">Nationality</th>
                                <th *ngIf="visibleCols.indexOf('email') !== -1">Email</th>
                                <th *ngIf="visibleCols.indexOf('phone') !== -1">Phone</th>
                                <th *ngIf="visibleCols.indexOf('dob') !== -1">Date of birth</th>
                                <th *ngIf="visibleCols.length > 0">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-row euiTemplate="body">
                            <tr>
                                <td *ngIf="visibleCols.length > 0">
                                    <img [src]="row.picture.thumbnail" alt="Profile picture" class="eui-u-mr-m"
                                        style="margin-top: .4rem; aspect-ratio: 1; border: 2px solid white; border-radius: 50%; height: 2.5rem; width: 2.5rem;">
                                </td>
                                <td data-col-label="Title" *ngIf="visibleCols.indexOf('title') !== -1">{{ row.name.title
                                    }}</td>
                                <td data-col-label="First name" *ngIf="visibleCols.indexOf('first') !== -1">{{
                                    row.name.first }}</td>
                                <td data-col-label="Last name" *ngIf="visibleCols.indexOf('last') !== -1">{{
                                    row.name.last }}</td>
                                <td data-col-label="Nationality" *ngIf="visibleCols.indexOf('nat') !== -1">{{ row.nat }}
                                </td>
                                <td data-col-label="Email" *ngIf="visibleCols.indexOf('email') !== -1">{{ row.email }}
                                </td>
                                <td data-col-label="Phone" *ngIf="visibleCols.indexOf('phone') !== -1">{{ row.phone }}
                                </td>
                                <td data-col-label="Date of birth" *ngIf="visibleCols.indexOf('dob') !== -1">{{
                                    row.dob.date | date:'mediumDate' }}</td>
                                <td data-col-label="Actions" *ngIf="visibleCols.length > 0">
                                    <div class="eui-u-flex">
                                        <button euiButton euiBasicButton euiRounded euiIconButton euiPrimary euiSizeS
                                            euiTooltip="Edit" euiTooltipPrimary (click)="onRowEdit(row)">
                                            <span euiIcon iconClass="eui-icon eui-icon-pencil"></span>
                                        </button>
                                        <button euiButton euiBasicButton euiRounded euiIconButton euiDanger euiSizeS
                                            euiTooltip="Delete" euiTooltipDanger (click)="onRowDelete(row)">
                                            <span euiIcon iconClass="eui-icon eui-icon-delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template euiTemplate="emptyMessage">
                            <tr>
                                <td class="eui-u-text-center" colspan="5">No data</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>

                <eui-table-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10"
                    hasPageNumberNavigation [nbPageNumberNavigation]="5"></eui-table-paginator>
            </eui-card-content>

        </eui-card>
    </eui-page-content>
</eui-page>