<eui-page>
    <eui-page-header label="Contacts"></eui-page-header>

    <eui-page-content>
        <eui-card euiNoContentPadding>
            <eui-card-header>
                <eui-card-header-title>
                    <eui-badge euiPrimary>{{ filteredData.length }}</eui-badge>
                    contacts found
                </eui-card-header-title>
                <eui-card-header-right-content>
                    <div class="eui-u-flex">
                        <div class="eui-u-mr-s">
                            <eui-slide-toggle (changed)="isCompact = !isCompact"></eui-slide-toggle>
                            Compact
                        </div>
                        <eui-table-filter #filter placeholder="Search filter..."
                            (filterChange)="onFilterChange($event)">
                        </eui-table-filter>
                    </div>
                </eui-card-header-right-content>
            </eui-card-header>
            <eui-card-content>
                <!-- The optional scrollable wrapper around the table allows dynamic scroll when the table is too big -->
                <div class="eui-table__scrollable-wrapper">
                    <table #euiTable euiTable [euiTableCompact]="isCompact" euiTableResponsive [rows]="dataSource"
                        [paginator]="paginator" [filter]="filter">
                        <ng-template euiTemplate="header">
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Nationality</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date of birth</th>
                            </tr>
                        </ng-template>
                        <ng-template let-row euiTemplate="body">
                            <tr>
                                <td>
                                    <img [src]="row.picture.thumbnail" alt="Profile picture" class="eui-u-mr-m"
                                        style="margin-top: .4rem; aspect-ratio: 1; border: 2px solid white; border-radius: 50%; height: 2.5rem; width: 2.5rem;">
                                </td>
                                <td data-col-label="Title">{{ row.name.title }}</td>
                                <td data-col-label="First name">{{ row.name.first }}</td>
                                <td data-col-label="Last name">{{ row.name.last }}</td>
                                <td data-col-label="Nationality">{{ row.nat }}</td>
                                <td data-col-label="Email">{{ row.email }}</td>
                                <td data-col-label="Phone">{{ row.phone }}</td>
                                <td data-col-label="Date of birth">{{ row.dob.date | date:'mediumDate' }}</td>
                            </tr>
                        </ng-template>
                        <ng-template euiTemplate="emptyMessage">
                            <tr>
                                <td class="eui-u-text-center" colspan="5">No data</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>

                <eui-table-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10"
                    hasPageNumberNavigation [nbPageNumberNavigation]="5"></eui-table-paginator>
            </eui-card-content>

        </eui-card>
    </eui-page-content>
</eui-page>